---
introduce: ""
---

<h4 class="talk-info">【个人空间】lwstkhyl的午夜碎碎念</h4>
<p class="talk-info">——献给我的家人、朋友们，以及所有想了解我的陌生人</p>

<ul class="blog talk-blog">
    {% for blog in site.posts %} {% if blog.category == "talk_at_night" %}
    <li>
        <div class="title-date">
            <a href="{{ blog.url }}" class="title">{{ blog.title }}</a>
            <p class="date">-----发布于{{ blog.date | date: "%Y-%m-%d" }}</p>
        </div>
        {{ blog.excerpt }}
    </li>
    {% endif %} {% endfor %}
</ul>

<style>
    .page .container .typeset ul.blog li div.title-date p {
        display: none !important;
    }

    .page .container nav.nav ul.list--nav li.item:first-child a {
        color: #a8adac !important;
    }

    .page .container nav.nav ul.list--nav li.item:first-child a:hover {
        color: green !important;
    }

    .page .container .typeset ul.blog li div.title-date a,
    .page .container .typeset ul.blog li div.title-date li::marker {
        font-size: 1.1rem !important;
    }

    .page .container .typeset ul.blog li {
        margin-bottom: 0rem !important;
    }

    .page .container .typeset,
    .container .typeset ul li,
    .container .typeset a,
    .container .typeset p {
        font-size: 1rem !important;
    }

    .page .container .typeset .introduce {
        display: none !important;
    }

    .page .container .typeset .introduce~h1 {
        display: none !important;
    }

    .page .container article.article {
        position: relative;
    }

    .page .container h4.talk-info {
        padding-top: 0.8rem !important;
        margin-bottom: 0rem !important;
    }

    .page .container p.talk-info {
        display: inline-block;
        position: absolute;
        right: 0;
        padding-top: 0rem !important;
    }

    .page .container ul.talk-blog {
        padding-top: 1.8rem !important;
    }
</style>