{% if site.navigation_header %}
<nav class="nav  nav--header">
  <ul class="list  list--nav">
    {% for item in site.navigation_header %}

    {% if item.url contains '://' %}
    {% assign url = item.url %}
    {% else %}
    {% assign url = item.url | relative_url %}
    {% endif %}

    <li class="item  item--nav{% if item.url == page.url %}  item--current{% endif %}">
      {% if item.sub_navigation %}
      <a href="javascript:;" class="no-hover">{{ item.title }} <span
          class="icon iconfont icon-down-line-free"></span></a>
      {% else %}
      <a href="{{ url }}">{{ item.title }}</a>
      {% endif %}
      {% if item.sub_navigation %}
      <ul class="sub_nav" style="display: none; position: absolute;">
        {% for sub_nav in item.sub_navigation %}
        <li class="sub_nav item--nav">
          <a href="{{ sub_nav.url }}" class="sub_nav">{{ sub_nav.title }}</a>
        </li>
        {% endfor %}
      </ul>
      {% endif %}
    </li>
    {% endfor %}
  </ul>
  <button class="button  button--nav" aria-label="Menu toggle">
    {% include icon.html id="nav" title="Menu" %}
  </button>
</nav>
{% else %}
{% include nav-default.html %}
{% endif %}

<script type="text/javascript">
  // Get list and button
  const navList = document.querySelector('.header .list--nav')
  const button = document.querySelector('.header .button--nav')
  const ul = $('.header ul.list--nav');
  const li = $('.header nav.nav--header li.item--nav').eq(0);
  // Hide nav and apply toggle
  const collapseNav = () => {
    if (document.body.clientWidth < 640 || parseInt(ul.css("height")) >= 2 * parseInt(li.css("height"))) {
      navList.style.setProperty('--listHeight', `-${navList.offsetHeight}px`)
      button.style.display = "inline-block";
    } else {
      navList.removeAttribute('style')
      button.style.display = "none";
    }

    button.onclick = () => {
      navList.style.setProperty('transition', `margin .1s`)
      if (navList.style.getPropertyValue('--listHeight')) {
        navList.style.removeProperty('--listHeight')
      } else {
        navList.style.setProperty('--listHeight', `-${navList.offsetHeight}px`)
      }
    }
  }

  collapseNav()

  // Check on resize if to collapse nav
  window.addEventListener('resize', () => {
    collapseNav()
  })
</script>