/* 去掉链接、按钮等点击后出现的边框 */
a,
a:focus,
a:hover:focus,
button:focus,
button:hover:focus,
.button:focus,
.button:hover:focus,
input:focus,
input:hover:focus,
textarea:focus,
textarea:hover:focus,
select:focus,
select:hover:focus {
    outline: none !important;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0) !important;
    background-image: none !important;
}

/* header */
header.header {
    /* 顶边导航栏置顶，删去position: sticky;即可取消 */
    position: sticky;
    top: 0px;
    z-index: 1000;
}

/* 头像框 */
header.header .container .logo a.logo img {
    max-height: 4rem !important;
}

/* 使底边栏固定在页面最底部↓ */
html {
    height: 100%;
}

body {
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

.page {
    flex: 1;
}

.footer {
    z-index: 1000;
}

/* 使底边栏固定在页面最底部↑ */

/* footer部分small标签 */
footer.footer .container small.small,
footer.footer .container nav.nav small.small {
    padding-top: 0 !important;
    line-height: 1rem !important;
    font-size: 0.96rem !important;
    font-family: "Merriweather", serif !important;
    font-style: normal !important;
    font-weight: 400 !important;
    color: #a8adac !important;
    display: inline-block !important;
}

footer.footer .container small.small a,
footer.footer .container nav.nav small.small a {
    padding: 0 !important;
}