/* 去掉链接、按钮等点击后出现的边框、下划线，以及自带的白色字体阴影 */
a,
a:focus,
a:hover:focus,
button:focus,
button:hover:focus,
.button:focus,
.button:hover:focus,
input:focus,
input:hover:focus,
textarea:focus,
textarea:hover:focus,
select:focus,
select:hover:focus {
    outline: none !important;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0) !important;
    background-image: none !important;
    text-shadow: none !important;
}

/* 按钮点击后不变色 */
button.button--nav:focus {
    color: #05bf85;
}

button.button--nav:focus:hover {
    color: green;
}

/* a标签点击后不变色 */
.article a:focus,
.article a:active {
    color: #05bf85 !important;
}

.article a:focus:hover {
    color: green !important;
}

/* 网页背景图片↓ */
/* footer */
footer.footer {
    background: rgba(0, 0, 0, 0.7) !important;
}

/* 小屏 */
button.button--nav {
    display: inline-block;
}

body {
    /* --bgi: url(https://s21.ax1x.com/2024/08/23/pAFlM9g.jpg); */
    --bgi: url(https://s21.ax1x.com/2024/08/24/pAFJ3TI.jpg);
}

/* 页面遮罩 */
.page {
    background: rgba(255, 255, 255, 0.7) !important;
}

/* 导航栏及下拉子菜单 */
header.header {
    background: rgba(255, 255, 255, 0.1) !important;
}


ul.sub_nav {
    background: rgba(255, 255, 255, 1) !important;
}

/* 大屏 */
@media screen and (min-width: 40em) {
    button.button--nav {
        display: none;
    }

    body {
        --bgi: url(https://s21.ax1x.com/2024/08/23/pAFlu4S.png);
        /* --bgi: url(https://s21.ax1x.com/2024/08/24/pAFGOwn.png); */
    }

    /* 页面遮罩 */
    .page {
        background: rgba(255, 255, 255, 0.5) !important;
    }

    /* 导航栏及下拉子菜单 */
    header.header {
        background: rgba(255, 255, 255, 0.7) !important;
    }

    ul.sub_nav {
        background: rgba(255, 255, 255, 0.9) !important;
    }
}

/* 网页背景图片↑ */

/* header */
header.header {
    /* 顶边导航栏置顶，删去position: sticky;即可取消 */
    position: sticky;
    top: 0px;
    z-index: 1000;
}

header.header .container a {
    padding: 0 0.5rem !important;
}

.page header.header .container li.item--current a:hover {
    color: green;
}

/* 头像框 */
header.header .container .logo a.logo img {
    display: none;
    /* background-color: #fff; */
    max-height: 4rem !important;
}

/* 使底边栏固定在页面最底部↓ */
html {
    height: 100%;
}

body {
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

.page {
    flex: 1;
    z-index: 500;
}

.footer {
    z-index: 1000;
}

/* 使底边栏固定在页面最底部↑ */

/* footer部分small标签 */
footer.footer .container small.small,
footer.footer .container small.small a,
footer.footer .container nav.nav small.small {
    padding-top: 0 !important;
    line-height: 1rem !important;
    font-size: 0.96rem !important;
    font-family: "Merriweather", serif !important;
    font-style: normal !important;
    font-weight: 400 !important;
    color: #a8adac !important;
    display: inline-block !important;
}

footer.footer .container small.small a,
footer.footer .container nav.nav small.small a {
    padding: 0 !important;
}

footer.footer .container small.small a:hover {
    color: #fff !important;
}