nav.nav--header li.item a {
    position: relative;
    z-index: 1000;
}

nav.nav ul.list--nav li.item--nav {
    cursor: pointer;
}

nav.nav ul.list--nav li.item--nav span.icon-down-line-free {
    display: inline-block;
    vertical-align: middle;
    /* 箭头默认向右 */
    transform: rotate(-90deg);
    /* 旋转原点 */
    transform-origin: center center;
    /* 旋转时间 */
    transition: transform 0.5s;
}

ul.sub_nav {
    background-color: white;
    flex-direction: column;
    height: fit-content;
    z-index: 999;
    margin-top: 0.6rem;
    border-radius: 0.2rem;
}

ul.sub_nav li.sub_nav {
    /* 清除li左边默认的点 */
    list-style-type: none;
    /* 靠左对齐 */
    text-align: left !important;
    padding-top: 0.2rem;
    margin: 0;
}

ul.sub_nav li.sub_nav a.sub_nav {
    z-index: 999;
    /* 强制不换行 */
    white-space: nowrap;
    font-size: 1rem;
    line-height: 1rem;
    padding: 0 0.2rem;
    margin: 0;
}

nav.nav a:hover {
    color: green !important;
}

nav.nav a.current {
    color: #a8adac !important;
}

nav.nav a.current:hover {
    color: green !important;
}

/* 优化下拉箭头样式 */
nav.nav a .icon {
    height: fit-content;
}