/* 页面内容字体样式 */
.container .typeset,
.container .typeset h1,
.container .typeset h2,
.container .typeset h3,
.container .typeset h4,
.container .typeset h5,
.container .typeset h6,
.container .typeset ul li,
.container .typeset a,
.container .typeset p {
    font-family: -apple-system, SF UI Text, Arial, PingFang SC, Hiragino Sans GB, Microsoft YaHei, WenQuanYi Micro Hei, sans-serif !important;
    font-feature-settings: normal !important;
}

/* 页面内容字体尺寸 */
.container .typeset h1 {
    font-size: 1.7rem !important;
    margin-bottom: 0.15rem !important;
    padding-top: 0.35rem !important;
}

.container .typeset h2 {
    font-size: 1.6rem !important;
    margin-bottom: 0.12rem !important;
    padding-top: 0.30rem !important;
}

.container .typeset h3 {
    font-size: 1.5rem !important;
    margin-bottom: 0.12rem !important;
    padding-top: 0.30rem !important;
}

.container .typeset h4 {
    font-size: 1.4rem !important;
    margin-bottom: 0.12rem !important;
    padding-top: 0.30rem !important;
}

.container .typeset h5 {
    font-size: 1.3rem !important;
    margin-bottom: 0.12rem !important;
    padding-top: 0.30rem !important;
}

.container .typeset h6 {
    font-size: 1.2rem !important;
    margin-bottom: 0.12rem !important;
    padding-top: 0.30rem !important;
}

.container .typeset,
.container .typeset ul li,
.container .typeset a,
.container .typeset p {
    font-size: 1.1rem !important;
}

.container .typeset ul {
    margin-bottom: 0.12rem !important;
    padding-top: 0.30rem !important;
}

/* 笔记概览页面字体尺寸 */
/* 笔记页面简介 */
.container .typeset .introduce {
    font-size: 1.7rem !important;
    margin-bottom: 0.5rem !important;
    padding-top: 1rem !important;
    font-weight: bold;
}

/* 列表各li间距 */
.container .typeset ul.blog li {
    margin-bottom: 1.2rem;
}

/* 笔记简介 */
.container .typeset ul.blog li p {
    font-size: 1.1rem !important;
    line-height: 1.7rem !important;
    /* opacity: 0.8 !important; */
    padding-top: 0.3rem !important;
}

.container .typeset ul.blog li div.title-date {
    display: flex;
    align-items: flex-end;
}

/* 笔记题目 */
.container .typeset ul.blog li div.title-date a.title {
    font-size: 1.5rem !important;
    line-height: 2.2rem !important;
    opacity: 1 !important;
    margin-bottom: 0rem !important;
    padding-top: 0rem !important;
}

/* 日期 */
.container .typeset ul.blog li div.title-date p.date {
    font-size: 0.9rem !important;
    line-height: 0.9rem !important;
    display: none;
    /* opacity: 0 !important; */
    /* opacity: 0.5 !important; */
    margin-bottom: 0.35rem !important;
    padding-top: 0 !important;
}