<!DOCTYPE html>
<html lang="{{ site.lang | default: " en-US" }}">

<head>
  {% if site.favicons or site.avatarurl %}{% include site-favicons.html %}{% endif %}

  <!-- 页面加载动画 -->
  <!-- 来自https://uiverse.io/Nawsome/blue-dragon-70 -->
  <link rel="stylesheet" href="/assets/css/spinner.css">
  <div class="loader-bg">
    <div class="banter-loader">
      <div class="banter-loader__box"></div>
      <div class="banter-loader__box"></div>
      <div class="banter-loader__box"></div>
      <div class="banter-loader__box"></div>
      <div class="banter-loader__box"></div>
      <div class="banter-loader__box"></div>
      <div class="banter-loader__box"></div>
      <div class="banter-loader__box"></div>
      <div class="banter-loader__box"></div>
    </div>
    <div class="img_load">加载页面中...</div>
  </div>
  <script src="/assets/scripts/spinner.js" type="text/javascript"></script>
  <!-- 页面加载动画end -->

  <link rel="stylesheet" href="/assets/css/base.css">
  <link rel="stylesheet" href="/assets/css/iconfont.css">
  <link rel="stylesheet" href="/assets/css/down_li.css">
  <link rel="stylesheet" href="/assets/css/img_click.css">
  <script src="/assets/scripts/jquery.min.js" type="text/javascript"></script>
  <script src="/assets/scripts/down_li.js" type="text/javascript"></script>
  <script src="/assets/scripts/site.js" type="text/javascript"></script>
  <script src="/assets/scripts/confirm_href.js" type="text/javascript"></script>
  <!-- General meta -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  {% if page.indexing == false %}
  <meta name="robots" content="noindex">
  {% endif %}

  {% if page.collectionpage %}
  {% seo title=false %}

  {% assign collectiondata = site.collections | where: "label", page.collectionpage | first %}
  <title>{{ collectiondata.title }} - {{ site.title }}</title>
  <meta property="og:title" content="{{ collectiondata.title }}">
  <meta name="description" content="{{ collectiondata.description }}">
  <meta property="og:description" content="{{ collectiondata.description }}">
  {% else %}
  {% seo %}
  {% endif %}
  {% if site.fonts.preconnect_urls %}
  {% for url in site.fonts.preconnect_urls %}
  <link rel="preconnect" href="{{ url }}" crossorigin />
  {% endfor %}
  {% endif %}

  <link rel="manifest" href="{{ " /manifest.json" | relative_url }}">
  <meta name="theme-color" content="{{ site.manifest.theme_color | default: '#242e2b' }}" />

  {% if site.css_inline == true %}
  {% include site-styles.html %}
  {% else %}
  <link rel="stylesheet" href="{{ " /assets/styles.css" | relative_url }}">
  {% endif %}

  {% if site.google_analytics %}{% include site-analytics.html %}{% endif %}

  {% include site-fonts.html %}

  {% include site-before-start.html %}
</head>

<body class="layout-{{ page.layout }}{% if page.title %}  {{ page.title | slugify }}{% endif %}">
  {% include site-icons.svg %}

  {{ content }}

  {% if site.service_worker != false %}{% include site-sw.html %}{% endif %}

  {% include site-before-end.html %}

  <div id="modal" class="modal" onclick="hideModal()">
    <div class="modal-bg">
      <img id="modal-image" class="modal-image">
    </div>
  </div>
</body>
<!-- 网页背景图片 -->
<!-- 宽屏图片原链接：https://www.pixiv.net/artworks/106449882 -->
<!-- 窄屏图片原链接：https://www.pixiv.net/artworks/109190404 -->
<style>
  body {
    /*background-image: var(--bgi) !important;*/
    background-repeat: no-repeat !important;
    background-size: cover !important;
    background-attachment: fixed !important;
    background-position: center !important;
  }
</style>
<script>
  $("body").css("cssText", "background-image: var(--bgi) !important;");
  if ($("body").css("--bgi") !== 'none') { //如果不是笔记页
    if (location.href !== 'http://127.0.0.1:4000/' && location.href !== 'https://lwstkhyl.github.io/') { //如果不是首页
      $(".page").css("cssText", "background: rgba(255, 255, 255, 0.75) !important;");
    }
  }
</script>
<!-- 网页背景图片end -->
<script src="/assets/scripts/change_a.js" type="text/javascript"></script>
<script src="/assets/scripts/load_img.js" type="text/javascript"></script>
<script src="/assets/scripts/img_click.js" type="text/javascript"></script>

</html>