---
layout: default
---

<script src="/assets/scripts/toc.js" type="text/javascript"></script>

<link rel="stylesheet" href="/assets/css/content.css">
<link rel="stylesheet" href="/assets/css/scrollspy.css">
<link rel="stylesheet" href="/assets/css/code_copy.css">
<link rel="stylesheet" href="/assets/css/code_number.css">
<!-- <link rel="stylesheet" href="/assets/css/lazyload.css"> -->

<div class="page">
    <!-- div.page让header部分的position:sticky生效 -->
    {% include site-header.html %}

    <main class="main  container">

        <article class="article  article--post  content  typeset">

            <h1>{{ page.title }}</h1>
            {% include post-meta.html %}
            <div class="toc"></div>
            {{ content }}

            {% include nav-share.html %}

            {% include post-comments.html %}

        </article>

        {% if page.aside == true %}{% include site-aside.html %}{% endif %}

    </main>
</div>
{% include site-footer.html %}

<script type="text/javascript">
    $(document).ready(function () {
        $('.toc').toc({ listType: 'ul', headers: 'h3, h4, h5', showSpeed: 0 });
    }); 
</script>
<script src="/assets/scripts/scrollspy.js" type="text/javascript"></script>
<script src="/assets/scripts/code_copy.js" type="text/javascript"></script>
<script src="/assets/scripts/code_number.js" type="text/javascript"></script>
<!-- <script src="/assets/scripts/lazyload.js" type="text/javascript"></script> -->