---
layout: default
---

<script src="../../../../../assets/scripts/toc.js" type="text/javascript"></script>

<link rel="stylesheet" href="../../../../../assets/css/content.css">
<link rel="stylesheet" href="../../../../../assets/css/scrollspy.css">
<link rel="stylesheet" href="../../../../../assets/css/code_copy.css">
<link rel="stylesheet" href="../../../../../assets/css/code_number.css">
<!-- <link rel="stylesheet" href="../../../../../assets/css/lazyload.css"> -->

<div class="page">
    <!-- div.page让header部分的position:sticky生效 -->
    {% include site-header.html %}

    <main class="main  container">

        <article class="article  article--post  content  typeset">

            <h1>{{ page.title }}</h1>
            {% include post-meta.html %}
            <div class="toc"></div>
            {{ content }}

            {% include nav-share.html %}

            {% include post-comments.html %}

        </article>

        {% if page.aside == true %}{% include site-aside.html %}{% endif %}

    </main>
</div>
{% include site-footer.html %}
<style>
    .page .container nav.nav ul.list--nav li.item:first-child a {
        color: #a8adac !important;
    }

    .page .container nav.nav ul.list--nav li.item:first-child a:hover {
        color: green !important;
    }

    .page .container article.article h1 {
        opacity: 0;
    }

    #diyigeh3 {
        font-size: 24px !important;
        line-height: 34px !important;
        margin-bottom: 0 !important;
        margin-top: 0 !important;
    }

    /* 首行缩进 */
    .page .container article.article p {
        text-indent: 2em;
    }

    .page .container article.article h4 {
        margin-top: 0 !important;
    }
</style>
<script>
    $("span.label--category a").text("lwstkhyl的个人空间");
    $(document).ready(function () {
        //目录
        const h4 = $(".page .container article.article h4").eq(0);
        h4.css('cssText', "margin-top: 0.4rem !important;");
        const h1 = $(".page .container article.article h1").eq(0);
        const text = h1.text();
        const new_h3 = $(`<h3 id='diyigeh3'>${text}</h3>`);
        h1.before(new_h3);
        h1.remove();
        $('.toc').toc({ listType: 'ul', headers: 'h3, h4, h5', showSpeed: 0 });
    }); 
</script>
<script src="../../../../../assets/scripts/scrollspy.js" type="text/javascript"></script>
<script src="../../../../../assets/scripts/code_copy.js" type="text/javascript"></script>
<script src="../../../../../assets/scripts/code_number.js" type="text/javascript"></script>
<!-- <script src="../../../../../assets/scripts/lazyload.js" type="text/javascript"></script> -->